@use 'base';
@use 'functions' as f;

* {
  margin: 0;
  padding: 0;
}

@mixin article {
  display: flex;
  flex-direction: column;
  padding: f.toRem(16);
  border: 1px solid base.$color30;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: base.$color20;
  font-size: 1rem;
}

div {
  display: flex;
  flex-direction: column;
  margin: f.toRem(16);
  padding: f.toRem(16);
  text-align: center;
  border: 1px solid base.$color10;

  h1 {
    color: base.$color30;
    text-decoration: underline;
    text-decoration-color: base.$color20;
    line-height: 1.2;
    padding: f.toRem(16);
  }

  section {
    display: flex;
    flex-direction: row;
    margin-top: f.toRem(32);

    article {
      @include article();

      &:nth-child(2n) {
        color: base.$color10;
      }
    }

    &:last-child {
      article {
        color: base.$color30;
        border-color: base.$color20;
        font-size: 1.5rem; /* Equals to 24px */
      }
    }
  }
}